# Import the necessary libraries, read csv file, merge movies and credits table (Marj | need this by 11/16)

In [1]:
import pandas as pd
import numpy as np
import nltk
import string
from nltk.tokenize import RegexpTokenizer
from nltk.corpus import stopwords
from nltk.stem import LancasterStemmer
from nltk.stem import WordNetLemmatizer
import re
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)

In [2]:
movies=pd.read_csv("tmdb_5000_movies.csv")
credits=pd.read_csv("tmdb_5000_credits.csv")

In [3]:
credits.columns=['id','title','cast','crew']
movies_merge=movies.merge(credits, on='id')

In [4]:
movies_merge.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title_x,vote_average,vote_count,title_y,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [12]:
movies_df= pd.DataFrame(movies_merge[['id','popularity','keywords','homepage','original_title','budget','revenue','genres', 'overview', 'cast', 'tagline']])
movies_df.head()

,id,popularity,keywords,homepage,original_title,budget,revenue,genres,overview,cast,tagline
0,19995,150.437577,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",http://www.avatarmovie.com/,Avatar,237000000,2787965087,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...",Enter the World of Pandora.
1,285,139.082615,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",http://disney.go.com/disneypictures/pirates/,Pirates of the Caribbean: At World's End,300000000,961000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","Captain Barbossa, long believed to be dead, ha...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","At the end of the world, the adventure begins."
2,206647,107.376788,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",http://www.sonypictures.com/movies/spectre/,Spectre,245000000,880674609,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",A cryptic message from Bond’s past sends him o...,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...",A Plan No One Escapes
3,49026,112.312950,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",http://www.thedarkknightrises.com/,The Dark Knight Rises,250000000,1084939099,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",Following the death of District Attorney Harve...,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...",The Legend Ends
4,49529,43.926995,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",http://movies.disney.com/john-carter,John Carter,260000000,284139100,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","John Carter is a war-weary, former military ca...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","Lost in our world, found in another."

# Text cleaning (Brajan | refer to the proposal for what text mining techniques will be used | need this by 11/19)

In [6]:
# Display punctuation symbols
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [7]:
# Create function to remove punctuation
def remove_punct(text):
    text_nopunct = "".join([char for char in text if char not in string.punctuation])
    return text_nopunct

# Remove punctuation from data
movies_df['genres2'] = movies_df['genres'].apply(lambda x: remove_punct(x))
movies_df.head()

,id,popularity,keywords,homepage,original_title,budget,revenue,genres,overview,cast,genres2
0,19995,150.437577,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",http://www.avatarmovie.com/,Avatar,237000000,2787965087,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...",id 28 name Action id 12 name Adventure id 14 n...
1,285,139.082615,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",http://disney.go.com/disneypictures/pirates/,Pirates of the Caribbean: At World's End,300000000,961000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","Captain Barbossa, long believed to be dead, ha...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...",id 12 name Adventure id 14 name Fantasy id 28 ...
2,206647,107.376788,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",http://www.sonypictures.com/movies/spectre/,Spectre,245000000,880674609,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",A cryptic message from Bond’s past sends him o...,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...",id 28 name Action id 12 name Adventure id 80 n...
3,49026,112.312950,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",http://www.thedarkknightrises.com/,The Dark Knight Rises,250000000,1084939099,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",Following the death of District Attorney Harve...,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...",id 28 name Action id 80 name Crime id 18 name ...
4,49529,43.926995,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",http://movies.disney.com/john-carter,John Carter,260000000,284139100,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","John Carter is a war-weary, former military ca...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...",id 28 name Action id 12 name Adventure id 878 ...

In [8]:
# Remove punctuation from data
movies_df['keywords2'] = movies_df['keywords'].apply(lambda x: remove_punct(x))
movies_df.head()

,id,popularity,keywords,homepage,original_title,budget,revenue,genres,overview,cast,genres2,keywords2
0,19995,150.437577,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",http://www.avatarmovie.com/,Avatar,237000000,2787965087,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...",id 28 name Action id 12 name Adventure id 14 n...,id 1463 name culture clash id 2964 name future...
1,285,139.082615,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",http://disney.go.com/disneypictures/pirates/,Pirates of the Caribbean: At World's End,300000000,961000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","Captain Barbossa, long believed to be dead, ha...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...",id 12 name Adventure id 14 name Fantasy id 28 ...,id 270 name ocean id 726 name drug abuse id 91...
2,206647,107.376788,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",http://www.sonypictures.com/movies/spectre/,Spectre,245000000,880674609,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",A cryptic message from Bond’s past sends him o...,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...",id 28 name Action id 12 name Adventure id 80 n...,id 470 name spy id 818 name based on novel id ...
3,49026,112.312950,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",http://www.thedarkknightrises.com/,The Dark Knight Rises,250000000,1084939099,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",Following the death of District Attorney Harve...,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...",id 28 name Action id 80 name Crime id 18 name ...,id 849 name dc comics id 853 name crime fighte...
4,49529,43.926995,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",http://movies.disney.com/john-carter,John Carter,260000000,284139100,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","John Carter is a war-weary, former military ca...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...",id 28 name Action id 12 name Adventure id 878 ...,id 818 name based on novel id 839 name mars id...

In [9]:
# Create function to tokenize and lowercase data
def tokenize(text):
    # W+ means that either a word character (A-Za-z0-9_) or a dash (-) can go there.
    tokens = re.split('\W+', text)
    return tokens

# Tokenize and lowercase data 
movies_df['tokenized_genres'] = movies_df['genres2'].apply(lambda x: tokenize(x.lower())) 
movies_df.head()

,id,popularity,keywords,homepage,original_title,budget,revenue,genres,overview,cast,genres2,keywords2,tokenized_genres
0,19995,150.437577,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",http://www.avatarmovie.com/,Avatar,237000000,2787965087,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...",id 28 name Action id 12 name Adventure id 14 n...,id 1463 name culture clash id 2964 name future...,"[id, 28, name, action, id, 12, name, adventure..."
1,285,139.082615,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",http://disney.go.com/disneypictures/pirates/,Pirates of the Caribbean: At World's End,300000000,961000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","Captain Barbossa, long believed to be dead, ha...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...",id 12 name Adventure id 14 name Fantasy id 28 ...,id 270 name ocean id 726 name drug abuse id 91...,"[id, 12, name, adventure, id, 14, name, fantas..."
2,206647,107.376788,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",http://www.sonypictures.com/movies/spectre/,Spectre,245000000,880674609,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",A cryptic message from Bond’s past sends him o...,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...",id 28 name Action id 12 name Adventure id 80 n...,id 470 name spy id 818 name based on novel id ...,"[id, 28, name, action, id, 12, name, adventure..."
3,49026,112.312950,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",http://www.thedarkknightrises.com/,The Dark Knight Rises,250000000,1084939099,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",Following the death of District Attorney Harve...,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...",id 28 name Action id 80 name Crime id 18 name ...,id 849 name dc comics id 853 name crime fighte...,"[id, 28, name, action, id, 80, name, crime, id..."
4,49529,43.926995,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",http://movies.disney.com/john-carter,John Carter,260000000,284139100,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","John Carter is a war-weary, former military ca...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...",id 28 name Action id 12 name Adventure id 878 ...,id 818 name based on novel id 839 name mars id...,"[id, 28, name, action, id, 12, name, adventure..."

In [13]:
# Tokenize and lowercase data 
movies_df['tokenized_keywords'] = movies_df['keywords2'].apply(lambda x: tokenize(x.lower())) 
movies_df.head()

,id,popularity,keywords,homepage,original_title,budget,revenue,genres,overview,cast,genres2,keywords2,tokenized_genres,tokenized_keywords
0,19995,150.437577,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",http://www.avatarmovie.com/,Avatar,237000000,2787965087,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...",id 28 name Action id 12 name Adventure id 14 n...,id 1463 name culture clash id 2964 name future...,"[id, 28, name, action, id, 12, name, adventure...","[id, 1463, name, culture, clash, id, 2964, nam..."
1,285,139.082615,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",http://disney.go.com/disneypictures/pirates/,Pirates of the Caribbean: At World's End,300000000,961000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","Captain Barbossa, long believed to be dead, ha...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...",id 12 name Adventure id 14 name Fantasy id 28 ...,id 270 name ocean id 726 name drug abuse id 91...,"[id, 12, name, adventure, id, 14, name, fantas...","[id, 270, name, ocean, id, 726, name, drug, ab..."
2,206647,107.376788,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",http://www.sonypictures.com/movies/spectre/,Spectre,245000000,880674609,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",A cryptic message from Bond’s past sends him o...,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...",id 28 name Action id 12 name Adventure id 80 n...,id 470 name spy id 818 name based on novel id ...,"[id, 28, name, action, id, 12, name, adventure...","[id, 470, name, spy, id, 818, name, based, on,..."
3,49026,112.312950,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",http://www.thedarkknightrises.com/,The Dark Knight Rises,250000000,1084939099,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",Following the death of District Attorney Harve...,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...",id 28 name Action id 80 name Crime id 18 name ...,id 849 name dc comics id 853 name crime fighte...,"[id, 28, name, action, id, 80, name, crime, id...","[id, 849, name, dc, comics, id, 853, name, cri..."
4,49529,43.926995,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",http://movies.disney.com/john-carter,John Carter,260000000,284139100,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","John Carter is a war-weary, former military ca...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...",id 28 name Action id 12 name Adventure id 878 ...,id 818 name based on novel id 839 name mars id...,"[id, 28, name, action, id, 12, name, adventure...","[id, 818, name, based, on, novel, id, 839, nam..."

In [12]:
ps = nltk.PorterStemmer()

# Create function to apply stemmer
def stemming(tokenized_text):
    text = [ps.stem(word) for word in tokenized_text]
    return text

# Apply Porter Stemmer
movies_df['body_text_stemmed'] = movies_df['overview'].apply(lambda x: stemming(x))
movies_df.head()

TypeError: 'float' object is not iterable

In [ ]:
wn = nltk.WordNetLemmatizer()

# Create function to apply lematizer
def lemmatizing(tokenized_text):
    text = [wn.lemmatize(word) for word in tokenized_text]
    return text

# Apply lemmatizer
df['body_text_lemmatized'] = df['body_text_nostop'].apply(lambda x: lemmatizing(x))
df.head(10)

# New feature 1 creation: actor names from the cast column of the credits dataset (Ana | need this by 11/22)

# New feature 2 creation: taking only the genre out of the genre column from the movies dataset (Susan | need this by 11/22)

# Vectorize Data

# Application of cosine similarity

# Get recommendation based on cosine similarity